.react-flow__node {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  font-size: 12px;
  padding: 0;
}

.react-flow__handle {
  width: 14px;
  height: 14px;
  transition: all 0.3s ease;
}

.react-flow__handle:hover {
  width: 18px;
  height: 18px;
}

.react-flow__node-default {
  min-width: 240px;
}
